  body
  {
    height: 100%;
    background: linear-gradient(to top left,#e66465, #9198e5);
    color: azure;
    font-size: larger;
  }
  h1
  {
    color: azure;
  }
 
  img
  {
    /* height:70%; */
    width:120px;
    /* padding-top:20px ; */
    /* padding-right:500%; */
    align-items: start;
  }